header#main-header {
  width: 100%;
  height: 60px;
  background-color: #DA552F;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
